
.ryu_div{

    width: 200px;
    height: 450px;
    
    
    }
    
    .ryu_img{
    
        width: 275em;
        bottom: 0em;
        position: relative;
    
    }


    .box{
        left: 15%;
      
           position: relative;
          
       }