
.ryu_div{

    width: 400px;
    height: 450px;
    
    
    }
    
    .ryu_img{
    
        width: 525em;
        bottom: -8em;
        position: relative;
    
    }

    .box{
        left: 15%;
      
           position: relative;
          
       }