.ryu_div{

    width: 570px;
    height: 450px;
    
    
    }
    
    .ryu_img{
    
        width: 1000em;
        bottom: -2em;
        position: relative;
    
    }
    .box{
        left: 0%;
        
      
           position: relative;
          
       }